---
import Layout from "@layouts/Layout.astro";
---

<Layout title="About">
    <h1>About</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore, aut
        praesentium odit voluptate a autem impedit fugit, iusto in libero
        asperiores quis harum reprehenderit totam aperiam distinctio ex, amet
        recusandae iure magnam error maxime placeat. Deleniti nisi laudantium
        reiciendis voluptates commodi eum quos quidem mollitia a harum ea itaque
        quia expedita assumenda esse at sunt ipsum sint, praesentium saepe
        veniam deserunt. Enim nostrum, architecto excepturi sunt nesciunt
        perferendis hic temporibus vitae praesentium deleniti doloremque. Quod
        blanditiis sunt veniam deserunt! Cumque, in officiis a quas pariatur
        iusto nostrum rerum provident dolorem minus quae. Sint laboriosam eaque
        doloremque voluptas perferendis, est officia?
    </p>
</Layout>
